<!-- navbar.html -->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

        <a class="navbar-brand" href="/main">Alledrogo</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <div class="dropdown ms-auto">

                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="true" data-bs-auto-close="outside" id="accountButton">
                    Account
                </button>

                <div class="dropdown-menu p-4 larger-dropdown-menu dropdown-menu-end" id="login-form">

                    <!-- Login dropdown -->
                    <div id="loginForm">
                        <div class="mb-3">
                            <label for="loginFormUsername" class="form-label">Username</label>
                            <input type="text" class="form-control" id="loginFormUsername" placeholder="Your username" required>
                            <div class="invalid-feedback">Please enter a Username</div>
                        </div>
                        <div class="mb-3">
                            <label for="loginFormPassword" class="form-label">Password</label>
                            <input type="password" class="form-control" id="loginFormPassword" placeholder="Your password" required>
                            <div class="invalid-feedback">Please enter a Password</div>
                        </div>
                        <div class="d-grid gap-2">
                            <button type="button" class="btn btn-primary" data-action="login">Sign in</button>
                        </div>
                        <div class="text-center">
                            <p>Not a member? <button type="button" class="btn btn-link" data-action="registerForm">Register</button></p>
                        </div>
                    </div>

                    <!-- Signup dropdown -->
                    <div id="registerForm" class="d-none">
                        <div class="mb-3">
                            <label for="registerFormUsername" class="form-label">Username</label>
                            <input type="text" class="form-control" id="registerFormUsername" placeholder="Create username" required>
                            <div class="invalid-feedback">Please enter a Username</div>
                        </div>
                        <div class="mb-3">
                            <label for="registerFormEmail" class="form-label">Email</label>
                            <input type="email" class="form-control" id="registerFormEmail" placeholder="Enter your email" required>
                            <div class="invalid-feedback">Please enter a valid Email</div>
                        </div>
                        <div class="mb-3">
                            <label for="registerFormPassword" class="form-label">Password</label>
                            <input type="password" class="form-control" id="registerFormPassword" placeholder="Create password" required>
                            <div class="invalid-feedback">Please enter a Password</div>
                        </div>
                        <div class="mb-3">
                            <label for="registerFormConfirmPassword" class="form-label">Confirm Password</label>
                            <input type="password" class="form-control" id="registerFormConfirmPassword" placeholder="Confirm password" required>
                            <div class="invalid-feedback">Please reenter a Password</div>
                        </div>
                        <div class="d-grid gap-2">
                            <button type="button" class="btn btn-primary" data-action="register">Sign up</button>
                        </div>
                        <div class="text-center">
                            <p>Already a member? <button type="button" class="btn btn-link" data-action="loginForm">Log in</button></p>
                        </div>
                    </div>

                    <!-- Account dropdown -->
                    <div id="accountDropdown" class="d-none">
                        <div><a class="dropdown-item" href="/my-profile">My profile</a></div>
                        <div><hr class="dropdown-divider"></hr></div>
                        <div><a class="dropdown-item" href="/my-products">My Products</a></div>
                        <div><hr class="dropdown-divider"></hr></div>
                        <div><a class="dropdown-item" href="/bought-products">Bought Products</a></div>
                        <div><hr class="dropdown-divider"></hr></div>
                        <div><a class="dropdown-item" href="#" data-action="logout">Log out</a></div>
                    </div>

                </div>

            </div>

        </div>

    </div>

</nav>
