<!-- navbar.html -->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

        <!-- Brand -->
        <a class="navbar-brand" href="/main">Alledrogo</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- Nav dropdowns -->
            <div class="dropdown ms-auto">

                <!-- Logged Off Dropdown -->
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="true" data-bs-auto-close="outside" id="accountButton">
                    Account
                </button>

                <div class="dropdown-menu p-4 larger-dropdown-menu dropdown-menu-end" id="login-form">

                    <!-- Log in Dropdown -->
                    <div id="loginForm">
                        <div class="mb-3">
                            <label for="DropdownFormUsername" class="form-label">Username</label>
                            <input type="text" class="form-control" id="DropdownFormUsername" placeholder="Your username" required>
                            <div class="invalid-feedback">Please enter a Username</div>
                        </div>
                        <div class="mb-3">
                            <label for="DropdownFormPassword" class="form-label">Password</label>
                            <input type="password" class="form-control" id="DropdownFormPassword" placeholder="Your password" required>
                            <div class="invalid-feedback">Please enter a Password</div>
                        </div>
                        <div class="d-grid gap-2">
                            <button type="button" class="btn btn-primary" data-action="login">Sign in</button>
                        </div>
                        <div class="text-center">
                            <p>Not a member? <button type="button" class="btn btn-link" data-action="registerForm">Register</button></p>
                        </div>
                    </div>

                    <!-- Sign up Dropdown -->
                    <div id="registerForm" class="d-none">
                        <div class="mb-3">
                            <label for="DropdownFormUsernameRegister" class="form-label">Username</label>
                            <input type="text" class="form-control" id="DropdownFormUsernameRegister" placeholder="Create username" required>
                            <div class="invalid-feedback">Please enter a Username</div>
                        </div>
                        <div class="mb-3">
                            <label for="DropdownFormEmailRegister" class="form-label">Email</label>
                            <input type="email" class="form-control" id="DropdownFormEmailRegister" placeholder="Enter your email" required>
                            <div class="invalid-feedback">Please enter a valid Email</div>
                        </div>
                        <div class="mb-3">
                            <label for="DropdownFormPasswordRegister" class="form-label">Password</label>
                            <input type="password" class="form-control" id="DropdownFormPasswordRegister" placeholder="Create password" required>
                            <div class="invalid-feedback">Please enter a Password</div>
                        </div>
                        <div class="mb-3">
                            <label for="DropdownFormPasswordRegisterConfirm" class="form-label">Confirm Password</label>
                            <input type="password" class="form-control" id="DropdownFormPasswordRegisterConfirm" placeholder="Confirm password" required>
                            <div class="invalid-feedback">Please reenter a Password</div>
                        </div>
                        <div class="d-grid gap-2">
                            <button type="button" class="btn btn-primary" data-action="register">Sign up</button>
                        </div>
                        <div class="text-center">
                            <p>Already a member? <button type="button" class="btn btn-link" data-action="loginForm">Log in</button></p>
                        </div>
                    </div>


                    <!-- Logged In Dropdown -->
                    <div id="loggedInContent" class="d-none">
                        <div><a class="dropdown-item" href="/my-profile">My profile</a></div>
                        <div><hr class="dropdown-divider"></hr></div>
                        <div><a class="dropdown-item" href="/my-products">My Products</a></div>
                        <div><hr class="dropdown-divider"></hr></div>
                        <div><a class="dropdown-item" href="/bought-products">Bought Products</a></div>
                        <div><hr class="dropdown-divider"></hr></div>
                        <div><a class="dropdown-item" href="#" data-action="logout">Log out</a></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</nav>
