<!DOCTYPE html>
<html>

  <head>
    <title>alledrogo</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
  </head>

  <!-- scripts -->
  <script src="/static/scriptProduct.js"></script>
  <script src="/static/scriptAuth.js"></script>
  <script src="/static/scriptPopup.js"></script>
  <script src="/static/scriptAuthConfirmation.js"></script>
  <script src="/static/scriptProductHandling.js"></script>
  <script src="/static/scriptCreateLoginPopup.js"></script>
  <script src="/static/scriptCreateProductPopup.js"></script>
  <script src="/static/scriptCreateSignupPopup.js"></script>

  <body>

    <!-- main body -->
    <div class="container">

      <!-- Main page left column-->
      <div class="left-column">

        <div>
          <a href="#" class="button" onclick="createLoginPopup()" id="main-page-login-button">Zaloguj się</a>
          <a href="#" class="button" onclick="createSignupPopup()" id="main-page-signup-button">Zarejestruj się</a>
          <a href="#" class="button" onclick="signOut()">Wyloguj się</a>
        </div>

      </div>

      <!-- Main page middle column -->
      <div class="middle-column">

        <h1 style="text-align: center;">Przedmioty na sprzedaż</h1>
        <ul id="product-list"></ul>

      </div>

      <!--Main page right column -->
      <div class="right-column">

        <!--User data -->
        <div>
          <a>ID</a>       <a class="button" id="current_user_id">Not logged in</a>
          <a>Username</a> <a class="button" id="current_user_username">Not logged in</a>
          <a>Roles</a>    <a class="button" id="current_user_role">Not logged in</a>
          <a>Balance</a>  <a class="button" id="current_user_balance">Not logged in</a>
        </div>

        <div>
          <a href="#" class="button" onclick="createProductPopup()"  id="main-page-add-product-button">Dodaj przedmiot</a>
        </div>

        <!--products bought by user -->
        <div>
          <a style="text-align: center;" id="boughtItemsTextField"></a>
          <ul id="bought-product-list"></ul>
        </div>

      </div>

    </div>

  </body>

</html>
